{% comment %}
* https://get.foundation/sites/docs/breadcrumbs.html
* https://developers.google.com/search/docs/data-types/breadcrumb
{% endcomment %}

{% assign crumbs = page.url | split: '/' %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
        {%- if page.lang == 'en' -%}
            {
            "@type": "ListItem",
            "position": 1,
            "name": {{ site.data.translations.breadcrumb_start[page.lang] | jsonify }},
            "item": {{ '' | absolute_url | jsonify }}
            },
        {%- endif -%}
{%- for crumb in crumbs offset: 1 -%}
    {%- assign crumb_limit = forloop.index | plus: 1 -%}
        {
            "@type": "ListItem",
    {%- if page.lang == 'en' -%}
            "position": {{ crumb_limit }},
    {%- else -%}
            "position": {{ forloop.index }},
    {%- endif -%}
    {%- if forloop.last -%}
            "name": {{ page.title | jsonify }}
        }
    {%- else -%}
            "item": {{ crumbs | slice: 0, crumb_limit | join: '/' | absolute_url | jsonify }},
            "name": {{ crumb | replace:'-',' ' | jsonify }}
        },
    {%- endif -%}
{%- endfor -%}
        ]
    }
</script>
<nav aria-label="You are here:" role="navigation">
    <ol class="breadcrumbs">
    {% if page.lang == 'en' %}
        <li>
            <a href="{{ '' | absolute_url }}">
                <span>{{ site.data.translations.breadcrumb_start[page.lang] }}</span></a>
        </li>
    {% endif %}
    {% for crumb in crumbs offset: 1 %}
        {% if forloop.last %}
        <li class="disabled">
            <span>{{ page.title }}</span>
        {% else %}
        <li>
            {% assign crumb_limit = forloop.index | plus: 1 %}
            <a href="{{ crumbs | slice: 0, crumb_limit | join: '/' | absolute_url }}">
                <span>{{ crumb | replace:'-',' ' }}</span></a>
        {% endif %}
        </li>
    {% endfor %}
    </ol>
</nav>
