{% if page.mediaplayer == true %}
<script defer src="{{ url }}/assets/mediaElementSetup.js"></script>
{% endif %}

<script src="{{ url }}/assets/js/modernizr.min.js"></script>
{% comment %}
#  Change to script type=module and move to header?
#
{% endcomment %}
<script src="{{ site.url }}{{ site.baseurl }}/assets/index.js"></script>

{% if page.header.image_fullwidth %}
<script defer type="module">
    $("#masthead").backstretch("{{ site.urlimg }}{{ page.header.image_fullwidth }}", {fade: 700});
    $("#masthead-with-text").backstretch("{{ site.urlimg }}{{ page.header.image_fullwidth }}", {fade: 700});
</script>
{% endif %}

{% comment %}
#  Start of Tawk.to Script
#
#  More information in _config.yml
#
{% endcomment %}
{% if site.tawkto_embed_uri and page.tawkto == true %}
<script defer>
var $_Tawk_API={},$_Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='{{ site.tawkto_embed_uri }}';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
{% endif %}
{% if site.google_analytics_tracking_id or site.fb_app_id %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script defer src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
<script>
  window.addEventListener('load', (event) => {
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#efefef",
          "text": "#404040"
        },
        "button": {
          "background": "#8ec760",
          "text": "#ffffff"
        }
      },
      "theme": "classic",
      "position": "bottom-right",
      "content": {
        "message": "This website uses cookies to ensure you get the best experience.",
        "link": "Learn more"
      }
    });
  });
</script>
{% endif %}
