{% comment %}
*
*  To customize the navigation of *Feeling Responsive*,
*  edit `_data/navigation.yml`.
*
{% endcomment %}
<div class="top-bar-container" data-sticky-container>
<div class="sticky sticky-topbar" data-sticky data-options="anchor: top-of-page; marginTop: 0; stickyOn: small;">
    <div id="navigation" class="top-bar">
    <div class="top-bar-left">
        <ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
            <!--li class="menu-text"><a href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a></li-->
            {% for link in site.data.navigation[page.lang] %}

            {% if link.url contains 'http' %}
            {% assign domain = '' %}
            {% elsif link.url == '#' %}
            {% assign domain = '' %}
            {% else %}
            {% assign domain = site.url %}
            {% endif %}

            {% comment %}   If there are links for left side begin   {% endcomment %}
            {% if link.side == 'left' %}

            {% comment %}   If left side WITHOUT dropdown menu do   {% endcomment %}
            {% if link.dropdown == nil %}
            <li{% if link.url == page.url %} class="is-active"{% elsif page.homepage == true and link.url == '/' %} class="is-active"{% endif %}><a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank" rel="noopener"{% endif %}>{{ link.title | escape }}</a></li>

            {% comment %}   If left side WITH dropdown menu do   {% endcomment %}
            {% else %}

            <li class="has-submenu{% if link.url == page.url %} is-active{% endif %}">
                <a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank" rel="noopener"{% endif %}>{{ link.title | escape }}</a>

                <ul class="submenu menu vertical" data-submenu>
                    {% for dropdown_link in link.dropdown %}

                    {% if dropdown_link.url contains 'http' %}
                    {% assign domain = '' %}
                    {% else %}
                    {% assign domain = site.url %}
                    {% endif %}

                    <li><a {% if dropdown_link.class %}class="{{dropdown_link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ dropdown_link.url }}"{% if dropdown_link.url contains 'http' %} target="_blank" rel="noopener"{% endif %}>{{ dropdown_link.title | escape }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% comment %}   Second loop finished   {% endcomment %}
        </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu vertical medium-horizontal expanded" data-responsive-menu="drilldown medium-dropdown">
        {% for link in site.data.navigation[page.lang] %}

              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% elsif link.url == '#' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = site.url %}
              {% endif %}

          {% comment %}   If there are links for right side begin   {% endcomment %}
          {% if link.side == 'right' %}
            {% comment %}   If right side WITHOUT dropdown menu do   {% endcomment %}
            {% if link.dropdown == nil %}
              <li{% if link.url == page.url %} class="is-active"{% elsif page.homepage == true and link.url == '/' %} class="is-active"{% endif %}><a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank" rel="noopener"{% endif %}>{{ link.title | escape }}</a></li>

            {% comment %}   If right side WITH dropdown menu do   {% endcomment %}
            {% else %}

              <li class="has-submenu">
                <a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank" rel="noopener"{% endif %}>{{ link.title | escape }}</a>

                  <ul class="submenu menu vertical" data-submenu>
                    {% for dropdown_link in link.dropdown %}

                      {% if dropdown_link.url contains 'http' %}
                        {% assign domain = '' %}
                        {% else %}
                        {% assign domain = site.url %}
                      {% endif %}

                      <li><a {% if dropdown_link.class %}class="{{dropdown_link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ dropdown_link.url }}"{% if dropdown_link.url contains 'http' %} target="_blank" rel="noopener"{% endif %}>{{ dropdown_link.title | escape }}</a></li>
                    {% endfor %}
                  </ul>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% comment %}   First loop finished 1   {% endcomment %}
      {% for lang in site.data.langs %}
        {% assign language = lang[1] %}
        {% if lang[0] != page.lang %}
            {% if lang[0] != 'en' %}
          <li><a href="{{ site.url }}{{ site.baseurl }}/{{ lang[0] }}">{{ language.label }} ({{ lang[0] }})</a></li>
            {% else %}
          <li><a href="{{ site.url }}{{ site.baseurl }}">{{ language.label }} ({{ lang[0] }})</a></li>
            {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
    </div>
</div>
    <div class="title-bar" data-responsive-toggle="navigation" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">{{ site.title }}</div>
    </div>
</div>
</div>
