@charset "utf-8";
/* TOC
-
*/

/* Masthead
------------------------------------------------------------------- */

#masthead {
  background-color: $primary-color;
}
#masthead-no-image-header {
  background-color: $primary-color;
}
#masthead-with-text {
  text-align: center;
  font-size: rem-calc(54);
  font-family: $header-font-family;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}
#masthead-no-image-header {
  height: 175px;
}
#masthead-no-image-header #logo img {
  margin-top: 60px;
}

/* Masthead › small-only
------------------------------------------------------------------- */

@media #{$small-only} {
  #logo img {
    display: none;
  }
  #masthead {
    height: 200px;
  }
  #masthead-with-pattern {
    padding: 15px 0;
  }
  #masthead-with-background-color {
    padding: 15px 0;
  }
  #masthead-with-text {
    height: 220px;
    padding: 30px 0;
    font-size: rem-calc(36);
  }
  #masthead-no-image-header {
    display: none;
  }
}

/* Masthead › medium-only
------------------------------------------------------------------- */

@media #{$medium-only} {
  #logo img {
    margin-top: 60px;
  }
  #masthead {
    height: 280px;
  }
  #masthead-with-pattern {
    padding: 20px 0;
  }
  #masthead-with-background-color {
    padding: 20px 0;
  }
  #masthead-with-text {
    padding: 60px 0;
    height: 300px;
  }
}

/* Masthead › large-only
------------------------------------------------------------------- */

@media #{$large-only} {
  #logo img {
    margin-top: 80px;
  }
  #masthead {
    height: 310px;
  }
  #masthead-with-pattern {
    padding: 30px 0;
  }
  #masthead-with-background-color {
    padding: 30px 0;
  }
  #masthead-with-text {
    height: 330px;
    padding: 60px 0;
  }
}

/* Masthead › xlarge-up
------------------------------------------------------------------- */

@media #{$xlarge-up} {
  #logo img {
    margin-top: 110px;
  }
  #masthead {
    height: 380px;
  }
  #masthead-with-pattern {
    padding: 45px 0;
  }
  #masthead-with-background-color {
    padding: 45px 0;
  }
  #masthead-with-text {
    padding: 95px 0;
    height: 400px;
  }
}

#title-image-small {
  height: 240px;
}
#title-image-large {
  height: 520px;
}
#title-image-index-small {
  height: 120px;
}
#title-image-index-large {
  height: 260px;
}

/* Jump to top
------------------------------------------------------------------- */

#up-to-top {
  padding: 160px 0 10px 0;
}
#up-to-top a {
  font-size: 24px;
  padding: 5px;
  border-radius: 3px;
}
#up-to-top a:hover {
  background: $medium-gray;
}

/* Icon Font
   See the icon-set/preview in /assets/fonts/iconfont-preview.html
------------------------------------------------------------------- */

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/iconfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/iconfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.iconfont       { font-family: iconfont; }
.iconfont-48    { font-size: 48px; }


[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-archive:before,
.icon-browser:before,
.icon-calendar:before,
.icon-camera:before,
.icon-chat:before,
.icon-check:before,
.icon-chevron-down:before,
.icon-chevron-left:before,
.icon-chevron-right:before,
.icon-chevron-up:before,
.icon-circle-with-cross:before,
.icon-circle-with-minus:before,
.icon-circle-with-plus:before,
.icon-cloud:before,
.icon-code:before,
.icon-cog:before,
.icon-dropbox:before,
.icon-edit:before,
.icon-export:before,
.icon-eye:before,
.icon-facebook:before,
.icon-feather:before,
.icon-github:before,
.icon-globe:before,
.icon-googleplus:before,
.icon-heart:before,
.icon-heart-outlined:before,
.icon-home:before,
.icon-instagram:before,
.icon-lab-flask:before,
.icon-leaf:before,
.icon-linkedin:before,
.icon-mail:before,
.icon-message:before,
.icon-mic:before,
.icon-network:before,
.icon-paper-plane:before,
.icon-pinterest:before,
.icon-price-tag:before,
.icon-rocket:before,
.icon-rss:before,
.icon-soundcloud:before,
.icon-star:before,
.icon-star-outlined:before,
.icon-thumbs-down:before,
.icon-thumbs-up:before,
.icon-tree:before,
.icon-tumblr:before,
.icon-twitter:before,
.icon-upload-to-cloud:before,
.icon-video:before,
.icon-vimeo:before,
.icon-warning:before,
.icon-xing:before,
.icon-youtube:before {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-archive:before { content: "\f100"; }
.icon-browser:before { content: "\f101"; }
.icon-calendar:before { content: "\f133"; }
.icon-camera:before { content: "\f102"; }
.icon-chat:before { content: "\f103"; }
.icon-check:before { content: "\f104"; }
.icon-chevron-down:before { content: "\f105"; }
.icon-chevron-left:before { content: "\f106"; }
.icon-chevron-right:before { content: "\f107"; }
.icon-chevron-up:before { content: "\f108"; }
.icon-circle-with-cross:before { content: "\f109"; }
.icon-circle-with-minus:before { content: "\f10a"; }
.icon-circle-with-plus:before { content: "\f10b"; }
.icon-cloud:before { content: "\f10c"; }
.icon-code:before { content: "\f10d"; }
.icon-cog:before { content: "\f10e"; }
.icon-dropbox:before { content: "\f10f"; }
.icon-edit:before { content: "\f110"; }
.icon-export:before { content: "\f111"; }
.icon-eye:before { content: "\f112"; }
.icon-facebook:before { content: "\f113"; }
.icon-feather:before { content: "\f114"; }
.icon-github:before { content: "\f115"; }
.icon-globe:before { content: "\f116"; }
.icon-googleplus:before { content: "\f136"; }
.icon-heart:before { content: "\f117"; }
.icon-heart-outlined:before { content: "\f118"; }
.icon-home:before { content: "\f119"; }
.icon-instagram:before { content: "\f11a"; }
.icon-lab-flask:before { content: "\f11b"; }
.icon-leaf:before { content: "\f11c"; }
.icon-linkedin:before { content: "\f11d"; }
.icon-mail:before { content: "\f11e"; }
.icon-message:before { content: "\f11f"; }
.icon-mic:before { content: "\f120"; }
.icon-network:before { content: "\f121"; }
.icon-paper-plane:before { content: "\f122"; }
.icon-pinterest:before { content: "\f123"; }
.icon-price-tag:before { content: "\f124"; }
.icon-rocket:before { content: "\f125"; }
.icon-rss:before { content: "\f126"; }
.icon-soundcloud:before { content: "\f127"; }
.icon-star:before { content: "\f128"; }
.icon-star-outlined:before { content: "\f129"; }
.icon-thumbs-down:before { content: "\f12a"; }
.icon-thumbs-up:before { content: "\f12b"; }
.icon-tree:before { content: "\f134"; }
.icon-tumblr:before { content: "\f12c"; }
.icon-twitter:before { content: "\f12d"; }
.icon-upload-to-cloud:before { content: "\f12e"; }
.icon-video:before { content: "\f12f"; }
.icon-vimeo:before { content: "\f130"; }
.icon-warning:before { content: "\f131"; }
.icon-xing:before { content: "\f135"; }
.icon-youtube:before { content: "\f132"; }

/* Color
------------------------------------------------------------------- */
$white-green: #A1D044;     // green

/* Footer
------------------------------------------------------------------- */
#footer-content p,
#footer-content li {
  font-size: rem-calc(13);
}

#footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background: scale-color($dark-gray, $lightness: -14%);
  color: $white;
}

#footer a {
  color: $white-green;
}

#footer h4,
#footer h5 {
  letter-spacing: rem-calc(1);
  color: $white;
  text-transform: uppercase;
}

/* Subfooter
------------------------------------------------------------------- */
$subfooter-color-bg: scale-color($dark-gray, $lightness: -70%);
$subfooter-color: scale-color($dark-gray, $lightness: -10%);

#subfooter {
  background: $subfooter-color-bg;
  color: $subfooter-color;
  padding-top: rem-calc(30);
}

#subfooter-left ul.inline-list {
  float: left;
}

.credits a {
  color: $subfooter-color;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  &:hover {
    color: $white;
  }
}

.social-icons {
  //margin-bottom: 10px !important;

  // Beware of SCSS-Syntax here
  li {
    padding: rem-calc(0 0 20 0);
  }
  a {
    font-size: rem-calc(28);
    display: block;
    width: rem-calc(41);
    border-radius: 50%;
    color: $subfooter-color-bg;
    background: $subfooter-color;
    text-align: center;
    &:hover {
      background: $subfooter-color-bg;
      color: $white;
    }
  }
}

/* Shadows
------------------------------------------------------------------- */

.shadow-black   {text-shadow: rgba(0, 0, 0, 0.498039) 0 1px 2px;}


.sticky-topbar {
  width: 100%;
}

/* Typography for Articles
------------------------------------------------------------------- */

.subheadline {
  font-size: rem-calc(16);
  margin: 0;
  text-transform: uppercase;
}
