---
layout: default
format: blog-index
# Don't index these pages dear Google.
noindex: true
---
<div class="grid-container">
    <div class="grid-x grid-padding-y">
        <div class="cell medium-8">
            {% assign singleLangPosts = site.posts | where:"lang", page.lang %}
            {% for post in singleLangPosts limit:30 %}
            <div class="grid-x">
                <div class="cell small-12">
                    <p class="subheadline">{{ post.categories | join: ' &middot; ' | prepend: '<span class="subheader">' | append: '</span>'
                        }}{% if post.categories != empty and post.subheadline != NULL %} – {% endif %}{{
                        post.subheadline }}</p>
                    <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                    <p>
                        {% if post.image.thumb %}<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}"
                                                    title="{{ post.title | escape_once }}"><img
                            src="{{ site.urlimg }}{{ post.image.thumb }}" class="alignleft" width="150" height="150"
                            alt="{{ page.title | escape_once }}"></a>{% endif %}

                        {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif
                        post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}

                        <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}"
                           title="{{ site.data.translations.read[page.lang] }} {{ post.title | escape_once }}"><strong>{{
                            site.data.translations.read_more[page.lang] }}</strong></a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="cell medium-4">
            {% include _sidebar.html %}
        </div>
    </div>
</div>
