---
layout: compress
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include _head.html %}
</head>
<body id="top-of-page" class="{{ layout.format }}">
{% if site.google_analytics_tracking_id %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_tracking_id }}"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', '{{ site.google_analytics_tracking_id }}');
</script>
{% endif %}
	{% unless page.skip_boilerplate %}
	{% include _navigation.html %}
	{% endunless %}

	{% include _masthead.html %}
	{{ content }}
	<div id="up-to-top" class="grid-x">
		<div class="cell large-11 small-12 text-right">
			<a class="iconfont" href="#top-of-page">&#xf108;</a>
		</div>
	</div>
	{% unless page.skip_boilerplate %}
	{% include _footer.html %}
	{% endunless %}

	{% include _footer_scripts.html %}
</body>
</html>
