---
layout: compress
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include _head.html %}
</head>
<body id="top-of-page" class="{{ layout.format }}">
{%- if site.fb_app_id -%}

<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '{{site.fb_app_id}}',
			cookie     : true,
			xfbml      : true,
			version    : '{{site.fb_app_version}}'
		});

		FB.AppEvents.logPageView();

	};

	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
{%- endif -%}
	{% unless page.skip_boilerplate %}
	{% include _navigation.html %}
	{% endunless %}

	{% include _masthead.html %}
	{{ content }}
	<div id="up-to-top" class="grid-x">
		<div class="cell large-11 small-12 text-right">
			<a class="iconfont" href="#top-of-page" data-smooth-scroll>&#xf108;</a>
		</div>
	</div>
	{% unless page.skip_boilerplate %}
	{% include _footer.html %}
	{% endunless %}

	{% include _footer_scripts.html %}
</body>
</html>
